@import '~antd/dist/antd.css';

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.action-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.action {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#app-container {
  width: 100px;
}

h1,
h2,
h3,
h4 {
  color: white;
}

.add-button {
  position: absolute;
  top: 5%;
  right: 5%;
}

.title {
  margin-top: 15%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-collapse {
  background-color: transparent;
  border: none;
}

.ant-collapse > .ant-collapse-item {
  border: none;
  margin-bottom: 10px;
}

.ant-collapse-content {
  color: rgb(255, 255, 255);
  background-color: #17212b;
  border: none;
  border-radius: 10px;
  margin-top: -5px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
  text-align: left;
  border: 1px solid white;
  border-radius: 10px !important;
  background: #2a3645;
}

.action > div > span {
  margin-left: 10px;
}

.no-tools {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.no-tools > p:nth-child(2) {
  font-style: italic;
  font-size: 14px;
  margin-top: -15px;
}

.no-tools > p:nth-child(2) > span {
  font-style: normal;
}
