@import '~antd/dist/antd.css';

.App-add {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.ant-form-item-label > label {
  color: white;
  font-size: 16px;
}

.App-header {
  height: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-button {
  position: relative;
  bottom: 5%;
  right: 0;
  left: 0;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
